<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>


<div class ="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="members : ${members}">
                    <td th:text="${members.id}"></td>
                    <td th:text="${members.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>